.bugdet {
    padding: .5rem 1rem;
    margin: 0 1.3rem;
    font-weight: 500;
    font-size: 1rem;
    color: #25D366;
    background-color: transparent;
    border: 1.8px solid #25D366;
    transition: .3s ease;
    cursor: pointer;
    border-radius: 4px;
}

.bugdet:hover {
    transform: scale(1.02);
    color: #fff;
    background-color: #25D366;
    border: 1.8px solid transparent;
}

.explorar {
    padding: .6rem 2.6rem;
    margin: 1rem 0;
    font-size: 1rem;
    color: $color-dgrey;
    background-color: transparent;
    border: 1px solid $color-dgrey;
    transition: .3s ease;
    cursor: pointer;
    border-radius: 2px;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 5px 3px rgba($color: #000000, $alpha: .3);
}

.explorar:hover {
    transform: scale(1.06);
    color: #fff;
    background-color: $color-primary;
    border: 1px solid transparent;
}

.agendar {
    margin: .5rem;
    padding: .7rem 2rem;
    border: 1.8px solid #064970;
    color: #064970;
    background-color: transparent;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.agendar:hover {
    background-color: #064970;
    color: #fff;
}

.subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: .4rem .3rem;
    background-color: #25D366;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.vistos {
    width: 320px;
    padding: .6rem 2.6rem;
    margin: 1rem 0;
    font-size: 1rem;
    color: #064970;
    background-color: transparent;
    border: 1px solid #064970;
    transition: .3s ease;
    cursor: pointer;
    border-radius: 10px;
    transition: .5s;
}

.vistos:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px 3px lighten($color: #064970, $amount: 60%);
}

.link {
    width: 320px;
    text-align: center;
    text-decoration: none;
    color: #064970;
}