@charset "UTF-8";
.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #064970;
}

.footer-box {
  padding: 2rem 1rem 0 1rem;
  width: 33.3333%;
  height: inherit;
  display: flex;
  align-items: start;
  justify-content: start;
  color: #fff;
  flex-direction: column;
  background-color: transparent;
}

.footer-box h2 {
  font-size: 1.3rem;
  font-weight: 500;
  color: #f0f0f0;
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;
}

.nav-footer ul {
  padding: 0.5rem;
  text-align: start;
}

.footer-box img {
  width: 100px;
  margin: 0 auto;
}

.footer-box span {
  font-size: 0.8rem;
  color: #e6e6e6;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.social-icon {
  transition: 0.3s ease-in-out;
}

.social-icon:hover {
  transform: translateY(-5px);
}

.footer-subscribe {
  display: flex;
  width: 100%;
  margin-top: 0.5rem;
  flex-direction: row;
  background-color: #e3e3e3;
  border-radius: 4px;
  padding: 0.2rem;
}

.footer-subscribe form {
  width: 100%;
  display: flex;
}

.footer-subscribe input {
  background-color: transparent;
  border: none;
}

.politics {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  background-color: rgb(4.7033898305, 57.2245762712, 87.7966101695);
}

.politics p {
  font-size: 10pt;
  color: #e3e3e3;
}

.politics a {
  color: #e3e3e3;
}

.header-container {
  width: 100%;
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #013a5b;
}

.header-box {
  display: flex;
  padding: 0 2rem;
  justify-content: center;
  align-items: center;
}

.header-box img {
  width: 80px;
}

.header-box nav {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header-box ul {
  display: inline-flex;
  list-style: none;
}

.header-box li {
  display: flex;
  align-items: center;
  height: 40px;
  color: #a3d9ff;
  text-decoration: none;
  transition: 0.3s ease;
}

.header-box .selected {
  width: 100%;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease;
}

.header-box .selected:hover {
  transform: translateY(-6px);
  color: #e3e3e3;
  padding: 0.8rem 1rem;
}

.header-up {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu-content {
  display: none;
  width: 100%;
  background-color: #f0f0f0;
}

.menu-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 3rem;
  transition: 0.5s ease-in-out;
}

.menu-box .selected {
  display: flex;
  align-items: center;
  height: 20px;
  color: #064970;
  text-decoration: none;
  transition: 0.3s ease;
}

.bugdet {
  padding: 0.5rem 1rem;
  margin: 0 1.3rem;
  font-weight: 500;
  font-size: 1rem;
  color: #499d45;
  background-color: transparent;
  border: 1.8px solid #499d45;
  transition: 0.3s ease;
  cursor: pointer;
  border-radius: 4px;
}

.bugdet:hover {
  transform: scale(1.05);
  color: #fff;
  background-color: #499d45;
  border: 1.8px solid transparent;
}

.explorar {
  padding: 0.6rem 2.6rem;
  margin: 1rem 0;
  font-size: 1rem;
  color: #f0f0f0;
  background-color: transparent;
  border: 1px solid #f0f0f0;
  transition: 0.3s ease;
  cursor: pointer;
  border-radius: 2px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
}

.explorar:hover {
  transform: scale(1.06);
  color: #fff;
  background-color: #013a5b;
  border: 1px solid transparent;
}

.agendar {
  margin: 0.5rem;
  padding: 0.7rem 2rem;
  border: 1.8px solid #064970;
  color: #064970;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.agendar:hover {
  background-color: #064970;
  color: #fff;
}

.subscribe {
  padding: 0.6rem;
  background-color: #499d45;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.vistos {
  width: 320px;
  padding: 0.6rem 2.6rem;
  margin: 1rem 0;
  font-size: 1rem;
  color: #064970;
  background-color: transparent;
  border: 1px solid #064970;
  transition: 0.3s ease;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s;
}

.vistos:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px 3px rgb(173.3728813559, 222.2033898305, 250.6271186441);
}

.link {
  width: 320px;
  text-decoration: none;
  color: #064970;
}

.stats {
  display: flex;
  gap: 60px;
  justify-content: center;
}

.stat {
  text-align: center;
}

.circle {
  --size: 80px;
  --thickness: 8px;
  --primary: #064970;
  --bg: #e5e5e5;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: relative;
  background: conic-gradient(var(--primary) calc(var(--value) * 1%), var(--bg) 0);
  display: grid;
  place-items: center;
}
.circle::before {
  content: "";
  position: absolute;
  width: calc(var(--size) - var(--thickness) * 2);
  height: calc(var(--size) - var(--thickness) * 2);
  background: #fff;
  border-radius: 50%;
}
.circle span {
  position: relative;
  font-size: 22px;
  font-weight: 300;
  color: #111;
}

.stat p {
  margin-top: 16px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #111;
}

.comments-container {
  width: 100%;
  min-height: 80vh;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 1rem 3rem;
  background: radial-gradient(circle at center, #064970 1px, #f0f0f0 1px);
  background-size: 20px 20px;
}

.comments-content {
  display: flex;
  width: 100%;
  height: inherit;
  position: relative;
  overflow-x: auto;
  flex-direction: row;
  align-items: center;
  padding: 3rem 1rem;
}

.comments-content::-webkit-scrollbar {
  display: none;
}

.comments-content::scroll-button(right) {
  content: "⇨";
  color: #064970;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 10%;
  bottom: 3rem;
  border: 1px solid #064970;
  border-radius: 50%;
}

.comments-content::scroll-button(left) {
  content: "⇦";
  color: #064970;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 10%;
  bottom: 3rem;
  border: 1px solid #064970;
  border-radius: 50%;
}

.comments-box {
  position: relative;
  min-width: 480px;
  height: 260px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}

.comment-img {
  position: absolute;
  top: -20%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-img img {
  width: 100%;
  border-radius: 50%;
}

.comment-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 1rem;
  font-size: 10pt;
  color: rgb(63.75, 63.75, 63.75);
}

.comment-text p {
  margin-bottom: 1rem;
}

.comments-forms {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
}

.comments-form {
  width: 100%;
  min-height: 80vh;
  padding: 1rem 3rem;
  background: radial-gradient(circle at center, #064970 1px, #f0f0f0 1px);
  background-size: 20px 20px;
}

.comment-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
  border-radius: 4px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
}

.form-img {
  width: 50%;
}

.form-img img {
  width: 100%;
  border-radius: 2px;
}

form {
  width: 50%;
}

form h2 {
  font-size: 2rem;
  color: #064970;
}

form p {
  color: rgb(63.75, 63.75, 63.75);
}

fieldset {
  padding: 0.5rem 1rem;
  border: none;
}

input, textarea {
  width: 100%;
  color: #064970;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  background-color: #e3e3e3;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  border-radius: 4px;
}

.comentar {
  margin-top: 1rem;
  color: #f0f0f0;
  background-color: #064970;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.comentar:hover {
  font-weight: 500;
  color: #499d45;
}

.team-container {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #f0f0f0;
}

.team-content {
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.team-box {
  width: 250px;
  height: 350px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.team-box:hover img {
  transform: scale(1.07);
}

.team-box img {
  width: inherit;
  height: 250px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transition: 0.3s ease-in-out;
}

.team-text {
  margin: 0;
  text-align: center;
  padding: 1rem;
  z-index: 2;
}

.team-text h2 {
  color: #064970;
  font-size: 1.3rem;
  font-weight: 400;
}

.team-text span {
  font-size: 0.8rem;
  color: rgb(63.75, 63.75, 63.75);
}

.team-text p {
  margin: 0.2rem;
  color: #064970;
}

.blog-content {
  width: 100%;
  min-height: 80vh;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.blog-boxes {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.blog-box {
  width: 320px;
  min-height: 380px;
  margin: 1rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
}

.blog-box:hover img {
  transform: scale(1.08);
}

.blog-img, .blog-img img {
  width: 100%;
  transition: 0.3s ease-in-out;
}

.videos-container {
  width: 100%;
  min-height: 80vh;
  background: radial-gradient(circle at center, #064970 1px, #f0f0f0 1px);
  background-size: 20px 20px;
}

.videos-content {
  width: 100%;
  height: inherit;
  padding: 3rem 3rem;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.videos-box {
  height: 400px;
  background-color: #fff;
  animation: mover 3s infinite linear;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
}

.videos-box video {
  width: 100%;
  height: inherit;
  padding: 0.2rem;
  transition: 0.3s ease-in-out;
}

.videos-box:hover video {
  transform: translateY(-20px);
}

.videos-box video:controls {
  display: none;
}

.contact-container {
  width: 100%;
  padding: 3rem 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contact-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.contact-box {
  width: 320px;
  height: 180px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
}

.contact-box:hover h2 {
  transform: scale(1.05);
  transform: translateY(-50px);
}

.contact-box h2 {
  font-size: 1rem;
  font-weight: 400;
  color: #064970;
  margin-bottom: 0.8rem;
  transition: 0.2s ease-in-out;
}

.contact-box p {
  margin-top: 0.3rem;
  color: rgb(63.75, 63.75, 63.75);
}

.form-img iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.home-caroussel {
  width: 100%;
  display: flex;
  overflow-x: hidden;
}

.home-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1;
  animation: spin 20s infinite linear;
}

.home-content {
  display: flex;
  flex: 0 0 100vw;
  height: 100vh;
}

.fundo-1 {
  background-image: url("../assets/fundo/paisagem2.jpg");
  background-size: cover;
  background-position: center;
}

.fundo-2 {
  background-image: url("../assets/fundo/paisagem1.jpg");
  background-size: cover;
  background-position: center;
}

.fundo-3 {
  background-image: url("../assets/fundo/paisagem3.jpg");
  background-size: cover;
  background-position: center;
}

@keyframes spin {
  0% {
    translate: 0;
  }
  15% {
    translate: 0;
  }
  30% {
    translate: -33.3%;
  }
  45% {
    translate: -33.3%;
  }
  60% {
    translate: -67%;
  }
  75% {
    translate: -67%;
  }
  90% {
    translate: 0%;
  }
}
.home-content-text {
  width: 100%;
  padding: 0 2rem;
  height: inherit;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, transparent 80%, #f0f0f0 100%);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

.home-content-text p {
  font-size: 1rem;
  font-weight: 500;
  color: #e3e3e3;
}

.home-content-text h1 {
  font-size: 4rem;
  font-weight: 600;
  color: #f0f0f0;
  text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.home-travels {
  width: 100%;
  min-height: 80vh;
  padding: 3rem 0rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f0f0f0;
}

.home-travels-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.home-travels-box {
  width: 280px;
  height: 300px;
  padding: 0;
  margin: 2rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s ease;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
  animation: mover 3s infinite linear;
}

.home-travels-box:hover .home-travels-text {
  display: block;
}

.home-travels-box:hover .home-travels-text h1,
.home-travels-box:hover .home-travels-text p,
.home-travels-box:hover .home-travels-text span {
  animation: 0.5s texto forwards ease-in-out;
}

.home-travels-box img {
  width: 100%;
  transition: 0.3s ease;
}

.home-travels-text {
  display: none;
  padding: 2rem;
  width: 100%;
  height: inherit;
  color: #fff;
  transition: 0.3s ease-in-out;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.2);
}

.home-travels-text h1 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 1rem;
}

.home-travels-text p {
  font-size: 1.1rem;
  font-weight: 400;
  color: #e6e6e6;
}

.home-travels-text span {
  margin-top: 3rem;
  color: #064970;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes texto {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.about-container {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-content {
  width: 100%;
  min-height: 80vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-title {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #064970;
}

.about-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2.5rem;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.about-box {
  max-width: 310px;
  text-align: center;
  padding: 1rem;
  border: 0.5px solid #e3e3e3;
}

.about-boxes h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #064970;
  font-weight: 400;
  text-transform: uppercase;
}

.about-boxes p {
  color: rgb(63.75, 63.75, 63.75);
}

.Container-caroussel {
  width: 100%;
  min-height: 80vh;
  display: flex;
  padding: 1rem;
  align-items: center;
  background-color: #f0f0f0;
  flex-direction: column;
}

.Container-caroussel h2 {
  margin: 2rem;
  font-size: 2rem;
  color: #064970;
}

.section-caroussel {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.caroussel {
  position: relative;
  width: 100%;
  padding: 1rem;
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  height: inherit;
  align-items: center;
}

.caroussel::-webkit-scrollbar {
  display: none;
}

.caroussel::scroll-button(left) {
  content: "⇦";
  font-size: 1.5rem;
  color: #f0f0f0;
  left: 2rem;
  position: absolute;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #064970;
  border: 0.5px solid #499d45;
}

.caroussel::scroll-button(right) {
  content: "⇨";
  font-size: 1.5rem;
  color: #f0f0f0;
  border: none;
  right: 5rem;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #064970;
  border: 0.5px solid #064970;
}

.caroussel::scroll-button(left):disabled, .caroussel::scroll-button(right):disabled {
  cursor: auto;
  opacity: 0.7;
}

.card {
  position: relative;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 0 20em;
  border-radius: 10px;
}

.card img {
  width: inherit;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

.card-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 1rem;
  color: #f0f0f0;
  text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(0.5px);
          backdrop-filter: blur(0.5px);
}

.card-text span {
  color: #e6e6e6;
  z-index: 2;
}

.card:hover .card-text h1 {
  font-size: 2.5rem;
  transform: translateY(-10px);
}

.card-text h1 {
  transition: 0.3s ease-in-out;
}

.services-container {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}

.services-content {
  width: 100%;
  padding: 2rem;
}

.services-title {
  width: 100%;
  text-align: center;
}

.services-title h1 {
  font-size: 2rem;
  color: #064970;
}

.services-boxes {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
  margin-top: 2rem;
  justify-content: center;
}

.services-box {
  max-width: 310px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 0.5px solid #e3e3e3;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
}

.services-box h2 {
  width: 100%;
  font-size: 1.3rem;
  font-weight: 400;
  color: #064970;
  margin-bottom: 0.5rem;
}

.services-box p {
  padding-left: 1rem;
  color: rgb(63.75, 63.75, 63.75);
}

.destiny-container {
  background-color: #f0f0f0;
}

.destiny-content {
  width: 100%;
  padding: 2rem;
}

.destiny-title {
  width: 100%;
  text-align: center;
}

.destiny-title h1 {
  font-size: 2rem;
  color: #064970;
  margin-bottom: 1rem;
}

.destiny-boxes {
  width: 100%;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.destiny-box {
  width: 400px;
  background-color: #fff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}

.destiny-box:hover img {
  transform: scale(1.05);
}

.destiny-img {
  overflow: hidden;
  width: 100%;
}

.destiny-img img {
  width: inherit;
  transition: 0.3s ease-in-out;
}

.destiny-price {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.destiny-price h2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  color: #064970;
  padding: 0.8rem;
  margin-bottom: 0.5rem;
}

.destiny-price span {
  font-size: 1.3rem;
  padding: 0.2rem 1rem;
  color: #064970;
  background-color: #f0f0f0;
}

.destiny-details {
  padding: 0 1rem;
}

.destiny-details p {
  color: rgb(63.75, 63.75, 63.75);
  margin: 0.5rem;
}

.header-menu {
  display: none;
}

@media (max-width: 800px) {
  .stats {
    gap: 40px;
  }
  .section-caroussel {
    min-height: 20vh;
  }
  .caroussel {
    width: 100%;
  }
  .card {
    width: 380px;
  }
  .form-img {
    width: 100%;
  }
  form {
    width: 100%;
  }
  fieldset {
    padding: 0.5rem 0;
  }
  .comments-container {
    min-height: 50vh;
  }
  .comments-box {
    min-width: 280px;
    height: 280px;
  }
  .footer-box {
    width: 100%;
    padding: 3rem;
    align-items: center;
  }
}
@media (max-width: 700px) {
  .header-container {
    display: flex;
    justify-content: end;
  }
  .header-up .header-box span {
    display: none;
  }
  .header-container .header-box {
    display: none;
  }
  .header-menu {
    display: block;
  }
  .menu-content {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */